:root {
    // colors
    --color-black: #1d1d1d;
    --color-white: #fff;
    --color-red: #dc0019;
    --color-grey: #f0f0f0;

    // fonts
    --font-size-text: 16px;
    --font-size-subtext: 12px;

    // spacing
    --spacing-3xs: 4px;
    --spacing-2xs: 8px;
    --spacing-xs: 16px;
    --spacing-xs: 16px;
    --spacing-sm: 24px;
    --spacing-md: 32px;
}

body {
    background-color: var(--color-grey);
    margin: 0;
}