.root {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    padding: var(--spacing-2xs) var(--spacing-xs);
}

.name {
    color: var(--color-white);
    margin: auto;
}

.theme-switcher {
    margin: 0;
}